/**弹框**/
.popupCon{ background:#fff; padding-left:10px; clear:both;}
.popupCon ul{}
.popupCon li{ margin-top:10px; line-height:20px;}
.popupLab{ display:block; float:left;}
.addSort{ margin-right:53px; height:35px; line-height:35px; float:right;}
.popupArea{ width:382px; height:60px; border:1px solid #c1d2e5; resize:none; font-size:12px;}
.popupCon li cite{ display:inline-block; width:245px;}
.popupCon li label{ color:#05254b;}
.popupText{ width:148px; border:1px solid #c1d2e5; height:18px; line-height:18px; _float:left;}
.popupTool{ height:30px; line-height:30px; clear:both;}
.popupTool div{ width:120px; margin:1px auto;}
.popSort{ height:35px; clear:both;}
.popSort li{ float:left; margin-right:5px;}
.popLab{ display:inline-block; float:left; text-align:right; width:8em; height:20px; line-height:20px;}